@font-face {
  font-family: 'Futura';
  src: url('../../assets/fonts/FuturaPTLight.otf') format('opentype');
}

@font-face {
  font-family: 'Lovelace';
  src: url('../../assets/fonts/Zetafonts\ -\ Lovelace\ Text\ Regular.otf') format('opentype');
}

.cart__wrapper {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__title {
  margin-top: 80px;
  font-size: 46px;
  color: #474a51;
}

.cart__text {
  margin-top: 40px;
  font-family: 'Futura';
  font-size: 18px;
  line-height: 130%;
  color: #9f9d9d;
}

.products__container {
  display: flex;
  justify-content: space-between;
  column-gap: 5em;
  height: 770px;
}

.cards__container {
  margin-top: 80px;
}

.card__info {
  height: 230px;
  padding-top: 30px;
  display: flex;
  gap: 15px;
  background-color: #fff;
  border-top: 2px solid #9f9d9d;
}

.card__info-container {
  width: 220px;
}

.card__info-img {
  width: 220px;
  height: 160px;
}

.card__info-details {
  width: 52%;
}

.card__info-title {
  font-family: 'Futura';
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #474a51;
}

.card__info-desc {
  margin-top: 10px;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #474a51;
}

.card__info-controls {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__info {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.controls__info-btn {
  width: 28px;
  height: 28px;
  font-family: 'Lovelace';
  font-size: 24px;
  background-color: #fff;
  border: 1px solid #474a51;
  cursor: pointer;
}

.controls__info-btn:hover,
.pagination__btn:hover {
  background-color: #dde8f6;
  border: 1px solid #dde8f6;
}

.card__info-quantity {
  margin: 0 15px;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #474a51;
}

.order__info {
  width: 400px;
  height: 460px;
  margin-top: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__total {
  font-family: 'Futura';
  font-size: 30px;
  line-height: 130%;
  color: #474a51;
}

.pagination__btn {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  font-family: 'Futura';
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #474a51;
  cursor: pointer;
}
